<div class="modal-header bg-theme-colored">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title text-white" id="myModalLabel">Download Buku Panduan</h4>
</div>
<div class="p-40">
  <!-- Reservation Form Start-->
    <form id="reservation_form_popup" name="reservation_form" class="reservation-form" method="post" action=""><h3 class="mt-0 line-bottom text-theme-colored mb-40 ext-center">Silahkan Pilih<span class="text-theme-colored font-weight-600"> Buku Panduan</span></h3>
      <div class="row text-center">
         
         
        <div class="col-sm-12 form-group">
          <div class="form-group mb-0 mt-0">
            <input name="form_botcheck" class="form-control" type="hidden" value="">
            <button type="submit" class="btn btn-colored btn-theme-colored btn-lg btn-flat border-left-theme-colored-4px" data-loading-text="Please wait..."><i class="fa fa-download"></i> Sitram Gabungan Tahap 2</button>
          </div>
        </div>

        <div class="col-sm-12 form-group">
          <div class="form-group mb-0 mt-0">
            <input name="form_botcheck" class="form-control" type="hidden" value="">
            <button type="submit" class="btn btn-colored btn-theme-colored btn-lg btn-flat border-left-theme-colored-4px" data-loading-text="Please wait..."><i class="fa fa-download"></i> Mobility Management</button>
          </div>
        </div>


        <div class="col-sm-12 form-group">
          <div class="form-group mb-0 mt-0">
            <input name="form_botcheck" class="form-control" type="hidden" value="">
            <button type="submit" class="btn btn-colored btn-theme-colored btn-lg btn-flat border-left-theme-colored-4px" data-loading-text="Please wait..."><i class="fa fa-download"></i> TMC Polda Metro Jaya</button>
          </div>
        </div>

        
        <div class="col-sm-12 form-group">
          <div class="form-group mb-0 mt-0">
            <input name="form_botcheck" class="form-control" type="hidden" value="">
            <button type="submit" class="btn btn-colored btn-theme-colored btn-lg btn-flat border-left-theme-colored-4px" data-loading-text="Please wait..."><i class="fa fa-download"></i> (English) Taman Lalu Lintas</button>
          </div>
        </div>

        
        <div class="col-sm-12 form-group">
          <div class="form-group mb-0 mt-0">
            <input name="form_botcheck" class="form-control" type="hidden" value="">
            <button type="submit" class="btn btn-colored btn-theme-colored btn-lg btn-flat border-left-theme-colored-4px" data-loading-text="Please wait..."><i class="fa fa-download"></i> Pola Pengamanan Banjir</button>
          </div>
        </div>

        
      </div>
    </form>
    <!-- Reservation Form End-->

    <!-- Reservation Form Validation Start-->
    <script type="text/javascript">
      $("#reservation_form_popup").validate({
        submitHandler: function(form) {
          var form_btn = $(form).find('button[type="submit"]');
          var form_result_div = '#form-result';
          $(form_result_div).remove();
          form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
          var form_btn_old_msg = form_btn.html();
          form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
          $(form).ajaxSubmit({
            dataType:  'json',
            success: function(data) {
              if( data.status == 'true' ) {
                $(form).find('.form-control').val('');
              }
              form_btn.prop('disabled', false).html(form_btn_old_msg);
              $(form_result_div).html(data.message).fadeIn('slow');
              setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
            }
          });
        }
      });
    </script>
    <!-- Reservation Form Validation Start -->
</div>
<!-- Footer Scripts -->
<script>
  //reload date and time picker
  THEMEMASCOT.initialize.TM_datePicker();
</script>